<a href="https://colab.research.google.com/github/aggarwal-ujjwal/Chatty-Bot/blob/master/Udemy_Python_Course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Hello World!")
#Make Comments using Hashtag

Hello World!

In [6]:
#Variables and multiple assigment
age = 20
sentence = "Python basics"

sarah, bob, mike = 16, 21, 17
print(sarah, bob, mike)

sarah = bob = mike = 17
print(sarah, bob, mike)

16 21 17
17 17 17

In [7]:
#Arithmetic operators
age1 = 12
age2 = 10
print(age1 + age2)
print(age1 - age2)
print(age1 * age2)
print(age1 / age2)
print(age1 % age2)
print(age1 ** age2)

22
2
120
1.2
2
61917364224

In [10]:
print("A"+ " " + "B") # sum of strings
#print("A"-"B") # ERROR - sub has no meaning in strings
print("A"*3) # repeat string

A B
AAA

In [13]:
sent = "This is Python basics"
print(sent[0]) #first letter
#Slicing - last insex is not included
print(sent[0:5])

T
This

In [18]:
#Placeholders in Strings (%s or %d)
name = "Bob"
print(name + " is " + str(age) + " years old") #String concatenation:
print("{} is {} years old".format(name, age)) #str.format method
print(f"{name} is {age} years old")#f-string (formatted string literal) - introduced in Python 3.6
#f-strings are generally the most readable and concise for formatting strings, and they are also the fastest in terms of performance. They are recommended if you're using Python 3.6 or later.

Bob is 20 years old
Bob is 20 years old
Bob is 20 years old

In [19]:
# Write a script that adds 15 and 30 and divides the sum by 2. Print out the answer.

print((15+30)/2)

22.5

In [24]:
#Create a variable and print all the letters from the first index until the end.
sent = "This is Python basics"
print(sent[0:]) #Whole string

print(sent[0:-3]) #Everything minus lat 3 characters

This is Python basics
This is Python bas